# Dataset plotting presentation
Tasks:
1. Read the dataset
2. Drop duplicates
3. Drop null values consisting of corresponding rows/columns
4. Replace null values with zero/mean/median/mode
5. Scatter plot with and without hue
6. KDE plot with and without hue
7. Histogram with and without hue
8. Boxplot of all the features
9. Detect outliers with boxplot

### Read the dataset

In [11]:
# import pandas
import pandas as pd

In [13]:
#Read the dataset and store it in a dataframe
df = pd.read_csv('train_u6lujuX_CVtuZ9i.csv')

### Drop duplicates

In [40]:
df.Loan_ID.duplicated().sum() #check duplicate for Loan_ID column

0

In [41]:
df.duplicated().sum()

0

### Drop null values consisting of corresponding rows/columns

In [42]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64